
body{
    background: linear-gradient(135deg, #2e2e2e, #242424, #1c1c1c);
    background-repeat: no-repeat;
    background-position: center;
    height: 100dvh;
}

.alert{
    position: relative;
}

.error{
    color: red;
    font-size: 12px;
}

a{
    text-decoration: none !important;
}

#msg{
    display: none;
}

#edit-container{
    display: none;
}